<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appoint</title>
    {%- if not is_production %}
    <script type="module" src="{{ asset('@vite/client') }}"></script>
    <script type="module">
      import RefreshRuntime from "http://localhost:3000/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    {%- endif %}
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="{{ asset('src/index.tsx') }}"></script>
  </body>
</html>
